.board-squares{
    margin-top: 95px;
}

.square {
    height: 450px;

    display: inline-block;

    background-repeat: no-repeat;
    background-size: 460px 450px;
    border-style: inset;
}

.land{
    background-image: url('green_land_base.png');
}

.house{
    background-image: url('house_land.png');
}

.piece {
    font-size: 2em;
}

.selected {
    border-size: 15px;
    color: greenyellow;
}

.buttonSelected{
    display: block;
}

.attack-btn{
    width: 75px;
}

.player1 {
    background-color: red;
}

.player2 {
    background-color: blue;
}